.hobbies_container {
    width: 500px;
}

.description_tittle {
    font-size: 1.5rem;
}

.description_text {
    height: 100%;
    font-size: 1.4rem;
}

.description_block {

    display: flex;
    flex-direction: column;
}

.hobbies_list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 50px;
    list-style: none;
    font-size: 1.3rem;
    margin-top: 40px;

}

.button_container {
    display: flex;
    justify-content: center;
}

.magic_button {
    height: 40px;
    width: 400px;
    cursor: pointer;
    font-size: 1.1rem;
}

.hidden_text {
    display: none;

}

.hidden_text_strong {
    font-size: 1.5rem;
}

.hidden_text_p{
    font-size: 1.4rem;
}

.hidden_text.visible{
    margin-top: 40px;
    margin-bottom: 91px;
}

/* Estilos para magic button */

.hobbies_container.hidden {
    display: none;
}

.visible {
    display: block;
}

.hobbies_container {
    display: block;
}
