html {
    font-family:cursive
}

.presentacion_header {
    justify-content: center;
    display: flex;
}

.aidin_presentacion {
    display: flex;
    justify-content: center;
}

.bloque_introduccion{
    background-color: rgb(34, 139, 34, 0.4);
    border: 2px solid green;
    width: 800px;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50px;

}

.bloque_introduccion img {
    width: 200px;
    height: 200px;
    border-radius: 60px;

}

.bloques_presentacion {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.nombre_introduccion h1{
    display: flex;
    justify-content: center;
}

.presentacion_main {
    
}

.bloque_descripcion {
    margin-top: 20px;
    background-color: rgb(34, 139, 34, 0.4);
    border: 2px solid green;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.titulo_descripcion {
    display: flex;
    justify-content: center;
}

.texto_descripcion {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.bloque_boton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.boton_secreto {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 19px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    
}

.bloque_hobbies {
    margin-top: 20px;
    background-color: rgb(34, 139, 34, 0.4);
    border: 2px solid green;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.bloque_titulo_hobbies {
    display: flex;
    justify-content: center;
}

.lista_hobbies {
    list-style: none;
}

