body {
    background-color: rgb(34, 139, 34, 0.4);
}

.fondo_main {
    background-color: #242424;
    display: flex;
    justify-content: center;
    
}


.contenedor_presentacion {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 600px;
}

.bloque_descripcion {
    width: 400px;

}

.bloque